.signUPP{
    text-align: center;
    display: flex;
    justify-content: center;
}

.login__container{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
.signUpInput__container{
    margin-bottom: 15px !important;
}