.educationForm{
    display: flex;
    flex-direction: column;
}
.study__years{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.year__input{
    border:none;
    outline: none;
    height: 32px;
    width:100%;
    overflow: hidden;
}
.special_box2 > .MuiFormControl-root{
    margin-bottom: 60px;
}

.button__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.save__form{
    background-color: green !important;
    color: white !important;
}
/* Achievement styles */
.achievement__boxContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.achievement__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.achievement_boxInfo{
    display: flex;
    flex-direction: column;
}
.achievement__address{
    font-size: 12px;
    margin-bottom: 0;
}