.jobsearchbanner{
    background-color: #fff;
    border: none;
    padding:3% 5%;
}

.form__container{
    display: flex;
    flex-direction: row;
}

.form_row{
    align-items: inherit;
}

.form__salaryRow{
    display: flex;
    align-items: center;
}
.findJob__buttonFind{
    margin-top: 20%;
}
.salary__range{
    display: flex;
    flex-direction: column !important;
}

.MuiFormControl-root{
    margin-top: 0 !important;
    height:45px !important
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 6px !important;
}


@media all and (min-width:693px) and (max-width:892px){
    .findJob__buttonFind{
        margin-top: 24%;
    }
}