.card__view{
    padding: 15px 25px;
    justify-content: flex-start;
    border: none !important;
    overflow: hidden;
    overflow-x: scroll;
    
    
}
.card__body{
    padding: 15px 20px;
}
.card__header{
    position:sticky;
    top:0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-right: auto; */
    background-color: #f1f8fe;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 7px 5px -7px black;
       -moz-box-shadow: 0 7px 5px -7px black;
            box-shadow: 0 7px 5px -7px black;
}
.header__content{
    padding:25px;
    margin-right: auto;
}
 .apply__button{
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
   

}
.laguages__list, .skills_list{
    text-transform: capitalize;
    margin-left: 10px;
}
.language__box{
    display: flex;
}
.languages{
    display: flex;
}