.jobpost__form > input, .jobpost__form > select, .salary_inputs> select, .salary_inputs> input, .sal_type > select{
    height:40px;
    margin-bottom: 15px;
    border-color: blue;
    border-radius: 5px;
    margin-right: 10px;
}
.jobpost__form > label, .additional > label{
    font-size: 16px;
    font-weight: 700;
}
.radios{
    display: flex;
    flex-direction: column;
}
.radio__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.radios > .radio__btn> label{
    margin-bottom: 0;
}
.radio__btn > input, .nightShift> input{
    margin-right: 10px;
}
.salary_inputs >.salary_box> .col-md-4> input{
    height: 40px;
    border-color: blue;
    border-radius: 5px;
    width: 100%;
}
.sal_type{
    display: flex;
    flex-direction: column;
    margin-right: 0;
}
.sal_type>select{
    margin-right: 0;
    border-color: blue;
}
.additional{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.additional > textarea{
    width: 100%;
    border-radius: 5px;
    border-color: blue;
    margin-bottom: 15px;
}

.react-tel-input, .radios, .hightShift{
    margin-bottom: 15px !important;
}

.react-tel-input .form-control{
    height:40px !important;
}
.postJobFieldButton{
    margin-top: 65px !important;
}

.language__title{
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
}
.error__message{
    color: red;
    text-transform: uppercase;
}
