.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}
.MuiAccordionDetails-root{
    justify-content: center;
}

.profileInfo > input, .profileInfo > textarea{
    width: 100%;
    border-radius: 5px;
    border-color: #afd4f5;
    outline:none;
    margin-bottom: 5px;
    padding:10px;
    border-width: 1px;
}
.profileInfo > textarea{
    overflow: auto;
}
.profileInfo > input{
    height: 40px;
}

.editableProfileInfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:10px;
    width:100%;
}
.profileInfoFields{
    margin-bottom: 23px !important;
}
.fields__container > textarea, .MuiFormControl-root{
    box-sizing: border-box !important;
    margin-bottom: 10px;
    width: 100%;
}
.special_box > .MuiFormControl-root{
    margin-bottom: 116px !important;
}

.contactInfo> .react-tel-input .form-control {
    height: 56px !important;
    margin-right: 0;
    width: 100%;
    padding-left: 40px;

}
.contactInfo> .react-tel-input .special-label {
    position: absolute;
    z-index: 1;
    font-size: 13px;
    left: 13px;
    top: -11px;
    background: #fff;
    padding: 0 2px;
    white-space: nowrap;
}
.profile__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}